html, body {
    font-family: Verdana, Arial, Lucida, Helvetica, "\5B8B\4F53", "\5FAE\8F6F\96C5\9ED1", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px
}

div, form, img, ul, ol, li, th, td, dl, dt, dd, button, input {
    margin: 0;
    padding: 0;
    border: 0
}

li {
    list-style-type: none
}

img {
    vertical-align: top
}

strong {
    font-weight: normal
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px
}

input {
    font-size: 12px;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center
}

.w10 {
    width: 10px
}

.w20 {
    width: 20px
}

.w30 {
    width: 30px
}

.w40 {
    width: 40px
}

.w50 {
    width: 50px
}

.w60 {
    width: 60px
}

.w70 {
    width: 70px
}

.w80 {
    width: 80px
}

.w90 {
    width: 90px
}

.w100 {
    width: 100px
}

.w120 {
    width: 120px
}

.w130 {
    width: 130px
}

.w140 {
    width: 140px
}

.w150 {
    width: 150px
}

.w160 {
    width: 160px
}

.w170 {
    width: 170px
}

.w180 {
    width: 180px
}

.w190 {
    width: 190px
}

.w200 {
    width: 200px
}

.w210 {
    width: 210px
}

.w250 {
    width: 250px
}

.w280 {
    width: 280px
}

.w300 {
    width: 300px
}

.w350 {
    width: 350px
}

.w380 {
    width: 380px
}

.w400 {
    width: 400px
}

.w500 {
    width: 500px
}

.w600 {
    width: 600px
}

.w700 {
    width: 700px
}

.w800 {
    width: 800px
}

.w900 {
    width: 900px
}

.width100 {
    width: 100%
}

.width33 {
    width: 33%
}

.width50 {
    width: 50%
}

.width66 {
    width: 66%
}

.widthAuto {
    width: auto
}

.h100 {
    height: 100px
}

.h150 {
    height: 150px
}

.h200 {
    height: 200px
}

.height100 {
    height: 100%
}

.heightAuto {
    height: auto
}

.mt-1 {
    margin-top: -1px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt40 {
    margin-top: 40px
}

.mt20 {
    margin-top: 20px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb40 {
    margin-bottom: 40px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr20 {
    padding-right: 20px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

.p20 {
    padding: 20px
}

.hidden {
    display: none
}

.d-b {
    display: block
}

.d-i {
    display: inline
}

.d-ib {
    display: inline-block
}

.p-r {
    position: relative
}

.p-a {
    position: absolute
}

.fl {
    float: left
}

.fr {
    float: right
}

.fnone {
    float: none
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.clear {
    clear: both
}

.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html .clearfix {
    height: 1%
}

.zoom {
    zoom: 1
}

.t-c {
    text-align: center
}

.t-l {
    text-align: left
}

.t-r {
    text-align: right
}

.v-t {
    vertical-align: top
}

.v-m {
    vertical-align: middle
}

.v-b {
    vertical-align: bottom
}

.o-h {
    overflow: hidden
}

.wrap {
    word-wrap: break-word
}

.no-wrap {
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden
}

.move {
    cursor: move
}

.pointer {
    cursor: pointer
}

.cur-def {
    cursor: default
}

.disabled {
    filter: alpha(opacity = 30);
    -moz-opacity: .3;
    opacity: .3;
    cursor: default;
    color: #777;
    display: inline-block
}

.l-h-20 {
    line-height: 20px
}

button::-moz-focus-inner {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 none !important
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    overflow: visible;
    vertical-align: middle
}

.btn {
    hide-focus: expression(this.hideFocus=true);
    cursor: pointer
}

.btn:focus {
    outline-style: none
}

.btn {
    display: inline-block;
    height: 28px;
    vertical-align: middle
}

.btn s, .btn b, .btn span, .btn i {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    font-style: normal;
    text-decoration: none;
    text-indent: 0
}

a.btn:link, a.btn:visited, a.btn:hover, a.btn:active {
    text-decoration: none
}

.btn s {
    padding-left: 8px;
    background: url(i/btn.gif) no-repeat 0 0
}

.btn s b {
    padding-right: 8px;
    background: url(i/btn.gif) no-repeat right 0
}

.btn s b span {
    background: url(i/btn.gif) repeat 0 -28px;
    color: #555;
    font-size: 12px;
    font-weight: normal
}

.btn.hover s, .btn:hover s {
    background: url(i/btn.gif) no-repeat 0 -56px
}

.btn.hover s b, .btn:hover s b {
    background: url(i/btn.gif) no-repeat right -56px
}

.btn.hover s b span, .btn:hover s b span {
    background: url(i/btn.gif) repeat 0 -84px
}

.btn-s s {
    padding-left: 8px;
    background: url(i/btn.gif) no-repeat 0 -112px
}

.btn-s s b {
    padding-right: 8px;
    background: url(i/btn.gif) no-repeat right -112px
}

.btn-s s b span {
    background: url(i/btn.gif) repeat 0 -140px;
    color: #335786;
    font-size: 12px;
    font-style: normal
}

.btn-s.shover s, .btn-s:hover s {
    background: url(i/btn.gif) no-repeat 0 -168px
}

.btn-s.shover s b, .btn-s:hover s b {
    background: url(i/btn.gif) no-repeat right -168px
}

.btn-s.shover s b span, .btn-s:hover s b span {
    background: url(i/btn.gif) repeat 0 -196px
}

.btn-m s {
    padding-left: 8px;
    background: url(i/btn.gif) no-repeat 0 -224px
}

.btn-m s b {
    padding-right: 8px;
    background: url(i/btn.gif) no-repeat right -224px
}

.btn-m s b span {
    background: url(i/btn.gif) repeat 0 -252px;
    color: #fff;
    font-size: 12px;
    font-style: normal
}

.btn-m.mhover s, .btn-m:hover s {
    background: url(i/btn.gif) no-repeat 0 -280px
}

.btn-m.mhover s b, .btn-m:hover s b {
    background: url(i/btn.gif) no-repeat right -280px
}

.btn-m.mhover s b span, .btn-m:hover s b span {
    background: url(i/btn.gif) repeat 0 -308px
}

.btn-l s {
    padding-left: 8px;
    background: url(i/btn.gif) no-repeat 0 -336px
}

.btn-l s b {
    padding-right: 8px;
    background: url(i/btn.gif) no-repeat right -336px
}

.btn-l s b span {
    background: url(i/btn.gif) repeat 0 -364px;
    font-size: 12px;
    font-style: normal;
    color: #fff
}

.btn-l.lhover s, .btn-l:hover s {
    background: url(i/btn.gif) no-repeat 0 -392px
}

.btn-l.lhover s b, .btn-l:hover s b {
    background: url(i/btn.gif) no-repeat right -392px
}

.btn-l.lhover s b span, .btn-l:hover s b span {
    background: url(i/btn.gif) repeat 0 -420px
}

.btn-x s {
    padding-left: 8px;
    background: url(i/btn.gif) no-repeat 0 -448px
}

.btn-x s b {
    padding-right: 8px;
    background: url(i/btn.gif) no-repeat right -448px
}

.btn-x s b span {
    background: url(i/btn.gif) repeat 0 -476px;
    font-size: 12px;
    font-style: normal;
    color: #fff
}

.btn-x.xhover s, .btn-x:hover s {
    background: url(i/btn.gif) no-repeat 0 -504px
}

.btn-x.xhover s b, .btn-x:hover s b {
    background: url(i/btn.gif) no-repeat right -504px
}

.btn-x.xhover s b span, .btn-x:hover s b span {
    background: url(i/btn.gif) repeat 0 -532px
}

.btn i {
    width: 20px
}

.btn.btn-edit i {
    background: url(../../i/btnIco.png) 0 0 no-repeat
}

.btn.btn-save i {
    background: url(../../i/btnIco.png) -28px 0 no-repeat
}

.btn.btn-del i {
    background: url(../../i/btnIco.png) -56px 0 no-repeat
}

.btn.btn-search i {
    background: url(../../i/btnIco.png) -84px 0 no-repeat
}

.btn.btn-modify i {
    background: url(../../i/btnIco.png) -112px 0 no-repeat
}

.btn.btn-add i {
    background: url(../../i/btnIco.png) -140px 0 no-repeat
}

.btn.btn-subtract i {
    background: url(../../i/btnIco.png) -168px 0 no-repeat
}

.btn.btn-debug i {
    background: url(../../i/btnIco.png) -196px 0 no-repeat
}

.btn.btn-rating i {
    background: url(../../i/btnIco.png) -224px 0 no-repeat
}

.btn.btn-toTop i {
    background: url(../../i/btnIco.png) -252px 0 no-repeat
}

.btn.btn-submit i {
    background: url(../../i/btnIco.png) 0 -28px no-repeat
}

.btn.btn-cancel i {
    background: url(../../i/btnIco.png) -28px -28px no-repeat
}

.btn.btn-addfolder i {
    background: url(../../i/btnIco.png) -56px -28px no-repeat
}

.btn.btn-import i {
    background: url(../../i/btnIco.png) -84px -28px no-repeat
}

.btn.btn-hidden i {
    background: url(../../i/btnIco.png) -112px -28px no-repeat
}

.btn.btn-reply i {
    background: url(../../i/btnIco.png) -140px -28px no-repeat
}

.btn.btn-post i {
    background: url(../../i/btnIco.png) -168px -28px no-repeat
}

.btn.btn-checkout i {
    background: url(../../i/btnIco.png) -196px -28px no-repeat
}

.btn.btn-favorite i {
    background: url(../../i/btnIco.png) -224px -28px no-repeat
}

.btn.btn-apply i {
    background: url(../../i/btnIco.png) -252px -28px no-repeat
}

.btn.btn-enter i {
    background: url(../../i/btnIco.png) 0 -56px no-repeat
}

.btn.btn-upload i {
    background: url(../../i/btnIco.png) -28px -56px no-repeat
}

.fieldset {
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 0
}

.fieldset .legend {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #e7f3fb;
    height: 38px;
    line-height: 38px;
    text-indent: 20px;
    color: #347dbb;
    font-size: 16px;
    font-family: Verdana, "\5FAE\8F6F\96C5\9ED1"
}

.fieldset .legend a {
    font-size: 12px;
    font-family: Verdana, "\5B8B\4F53";
    color: #338bc1
}

.fieldset .modify {
    font-size: 12px;
    cursor: pointer
}

.fieldset .field-con {
    padding: 10px
}

.fieldset .field-footer {
    padding: 10px;
    border-top: 1px solid #d7d7d7
}

.fieldset .field-con-0 {
    padding: 10px 5px
}

.fieldset .field-con-1 {
    padding: 10px 0
}

.fieldset .field-con-h {
    padding: 10px 20px;
    display: none
}

.fieldset .hr {
    height: 2px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #fff
}

.fieldset .fc-tit {
    background-color: #f4f4f4;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    color: #9e9e9e;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1"
}

.fieldset.step .legend {
    background-color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    color: #999
}

.fieldset.step .legend .title {
    float: left
}

.fieldset.step .legend a.edit {
    float: right;
    cursor: pointer;
    padding-right: 20px;
    display: none
}

.fieldset.step .field-con-done {
    padding: 10px;
    display: none
}

.fieldset.step .field-con {
    display: none
}

.fieldset.step.open .legend {
    background-color: #e7f3fb;
    border-top: 1px solid #90c0e9;
    border-bottom: 1px solid #d7d7d7;
    color: #347dbb
}

.fieldset.step.open .field-con-done {
    display: none
}

.fieldset.step.open .field-con {
    display: block
}

.fieldset.step.edited .legend {
    border-bottom: 1px solid #d7d7d7
}

.fieldset.step.edited .legend a.edit {
    display: block
}

.fieldset.step.edited .field-con-done {
    display: block
}

.fieldset.step.edited .field-con {
    display: none
}

.font-red {
    color: #c00
}

.font-green {
    color: #00b83f
}

.font-blue {
    color: #39f
}

.font-viridity {
    color: #6a990a
}

.font-yellow {
    color: #ff9600
}

.itxt-46, .itxt-28, .itxt-18, .itxt-12, .itxt-8, .itxt-2, .itxt-4, .itxt {
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #cbcbcb
}

.itxt-46 {
    width: 278px
}

.itxt-28 {
    width: 169px
}

.itxt-18 {
    width: 114px
}

.itxt-12 {
    width: 86px
}

.itxt-8 {
    width: 50px
}

.itxt-4 {
    width: 22px
}

.itxt-2 {
    width: 14px
}

.date-set, .time-set, .ym-set, .date-time-set {
    background: url("i/calendar.png") no-repeat scroll right 2px #fff
}

.slt-46, .slt-28, .slt-18, .slt-12, .slt-8, .slt {
    height: 24px;
    line-height: 22px;
    padding: 2px 0;
    border: 1px solid #cbcbcb;
    vertical-align: middle
}

.slt-46 {
    width: 286px
}

.slt-28 {
    width: 177px
}

.slt-18 {
    width: 122px
}

.slt-12 {
    width: 84px
}

.slt-8 {
    width: 58px
}

.atxt, .atxt-300, .atxt-400 {
    border: 1px solid #cbcbcb;
    font-size: 12px;
    padding: 3px;
    resize: none;
    color: #555
}

.atxt-300 {
    width: 294px;
    height: 48px
}

.atxt-400 {
    width: 394px;
    height: 79px
}

.grid {
    width: 100%;
    clear: both;
    background-color: #fff;
    table-layout: fixed;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7
}

.grid th, .grid td {
    height: 34px;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 3px
}

.grid thead {
    background: url(i/img-w-1px.png) 0 -40px repeat-x #ececec
}

.grid thead th, .grid thead td {
    height: 40px
}

.grid tbody td, .grid tbody th {
    word-wrap: break-word
}

.grid tr.trOdd {
    background: #f5f5f6
}

.grid tbody tr.trHover {
    background: #eef6fc
}

.grid tr.selected {
    background: #fcdf98
}

.grid td.trHover {
    border-left: 3px solid #347dbb;
    padding-left: 2px
}

.page {
    height: 28px;
    line-height: 28px;
    background-color: #f3f3f3;
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 5px 0
}

.page a {
    float: left;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    margin-left: -1px;
    color: #0095cd;
    background: url(i/img-w-1px.png) 0 -80px repeat-x
}

.page .pre {
    margin-left: 0
}

.page .pre, .page .next {
    overflow: hidden
}

.page .pre span, .page .next span {
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border: 0;
    padding: 0
}

.page .btn {
    padding: 0;
    border: 0;
    margin-left: 0
}

.page a:hover {
    text-decoration: none
}

.page .apostrophe {
    float: left;
    padding: 0 3px
}

.page a.current {
    color: #f60;
    background: url(i/img-w-1px.png) 0 -106px repeat-x
}

.page-top {
    background: 0;
    border: 0;
    text-indent: 0;
    font-size: 12px
}

.tab {
    border-bottom: 1px solid #90c0e9;
    height: 26px
}

.tab ul {
    margin-bottom: -1px;
    height: 27px
}

.tab ul li {
    float: left;
    height: 27px;
    line-height: 27px
}

.tab ul li a, .tab ul li span {
    display: inline-block;
    height: 27px;
    line-height: 27px
}

.tab ul li a {
    position: relative;
    padding-left: 15px;
    margin-right: 2px;
    background: url(i/tab-bg.png) no-repeat left 0;
    text-decoration: none;
    cursor: pointer
}

.tab ul li span {
    padding-right: 15px;
    background: url(i/tab-bg.png) no-repeat right -28px;
    color: #347dbb
}

.tab ul li a:hover {
    background: url(i/tab-bg.png) no-repeat left -112px
}

.tab ul li a:hover span {
    background: url(i/tab-bg.png) no-repeat right -140px
}

.tab ul li a.selected {
    background: url(i/tab-bg.png) no-repeat left -56px
}

.tab ul li a.selected span {
    background: url(i/tab-bg.png) no-repeat right -84px
}

.tab-con {
    display: none;
    padding: 10px;
    border: 1px solid #d7d7d7;
    border-top: 0
}

.c-tab {
    border-bottom: 1px solid #d7d7d7;
    height: 33px
}

.c-tab ul {
    height: 34px
}

.c-tab ul li a, .c-tab ul li span {
    height: 34px;
    line-height: 34px;
    color: #333
}

.c-tab ul li a, .c-tab ul li a:hover {
    background: url("i/tab-bg.png") no-repeat left -238px;
    margin-right: 5px
}

.c-tab ul li span, .c-tab ul li a:hover span {
    background: url("i/tab-bg.png") no-repeat right -275px
}

.c-tab ul li a.selected, .c-tab ul li a.selected:hover {
    background: url("i/tab-bg.png") no-repeat left -168px #fff
}

.c-tab ul li a.selected span, .c-tab ul li a.selected:hover span {
    background: url("i/tab-bg.png") no-repeat right -203px #fff;
    font-weight: bold
}

.c-tab ul {
    margin-left: 10px
}

.c-tab ul li {
    height: 34px;
    line-height: 34px
}

.purple {
    color: #9110a9
}

.w {
    margin: 0 auto;
    width: 990px
}

.btn {
    border: 1px solid #a92f54;
    padding: 0 20px;
    color: #fff;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    letter-spacing: 2px;
    background: #d0456d;
    background: -moz-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0456d), color-stop(100%, #b42748));
    background: -webkit-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -o-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -ms-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: linear-gradient(to bottom, #d0456d 0, #b42748 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #d0456d, endColorstr = #b42748)
}

.btn:hover {
    background: #b42748;
    background: -moz-linear-gradient(top, #b42748 0, #d0456d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42748), color-stop(100%, #d0456d));
    background: -webkit-linear-gradient(top, #b42748 0, #d0456d 100%);
    background: -o-linear-gradient(top, #b42748 0, #d0456d 100%);
    background: -ms-linear-gradient(top, #b42748 0, #d0456d 100%);
    background: linear-gradient(to bottom, #b42748 0, #d0456d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #b42748, endColorstr = #d0456d)
}

.btn:active {
    opacity: .9;
    -ms-filter: alpha(opacity =(90) );
    filter: alpha(opacity =(90) )
}

.btn-r2 {
    font-size: 18px;
    padding: 5px 36px
}

.more {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    font-family: "Simsun";
    text-indent: 0;
    color: #9110a9
}

.more a:link, .more a:visited {
    color: #9110a9
}

a:link, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

body {
    background: url(i/bg.jpg) top center no-repeat #3a172f
}

.roles {
    height: 300px;
    padding-right: 88px
}

.roles h3 {
    padding-left: 600px;
    padding-top: 60px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #dfd0d7;
    font-family: "Microsoft Yahei";
    letter-spacing: 2px;
    font-weight: normal;
    cursor: default
}

.roles p {
    padding-left: 600px;
    color: #fff;
    text-indent: 2em;
    line-height: 150%
}

.roles p .more {
    float: right
}

.roles p .more a:link, .roles p .more a:visited {
    color: #f0b1ea
}

.roles a.login {
    margin-left: 600px
}

.list-area {
    background: #fff;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.list-area .list-area-title {
    height: 70px;
    background: #d0456d;
    background: -moz-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0456d), color-stop(100%, #b42748));
    background: -webkit-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -o-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -ms-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: linear-gradient(to bottom, #d0456d 0, #b42748 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #d0456d, endColorstr = #b42748);
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 6px 14px #aaa;
    -moz-box-shadow: 0 6px 14px #aaa;
    box-shadow: 0 6px 14px #aaa
}

.list-area .list-area-title h2 {
    text-align: center;
    font-size: 32px;
    line-height: 70px;
    height: 70px;
    color: #fff;
    font-family: "Microsoft Yahei";
    letter-spacing: 2px;
    font-weight: normal;
    cursor: default
}

.list-area .list-area-title table {
    width: 100%;
    height: 100%;
    position: relative;
    left: -1px
}

.list-area .list-area-title table tr td {
    -webkit-box-shadow: 1px -2px 3px #555 inset;
    -moz-box-shadow: 1px -2px 3px #555 inset;
    box-shadow: 1px -2px 3px #555 inset
}

.list-area .list-area-title table tr td h2 {
    font-size: 22px;
    border-left: 1px solid #551526
}

.list-area .list-area-title table tr td h2 a:link, .list-area .list-area-title table tr td h2 a:visited {
    color: #fff
}

.list-area .list-area-title table tr td h2 a:hover {
    text-decoration: none
}

.list-area .list-area-title table tr td.curr {
    -webkit-box-shadow: 0 -4px 70px #333 inset;
    -moz-box-shadow: 0 -4px 70px #333 inset;
    box-shadow: 0 -4px 70px #333 inset
}

.list-area .list-category {
    padding: 10px 15px 10px 15px;
    overflow: hidden
}

.list-area .list-category h3 {
    line-height: 30px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    color: #81224e;
    font-family: "Microsoft Yahei";
    letter-spacing: 2px;
    font-weight: normal;
    cursor: default
}

.list-area .list-category h3 .more {
    float: right
}

.list-area .list-category .list-item {
    float: left;
    width: 320px;
    margin-bottom: 15px;
}

.list-area .list-category .list-item .portrait {
    float: left
}

.list-area .list-category .list-item .portrait img {
    height: 140px;
    width: 140px
}

.list-area .list-category .list-item dl {
    width: 150px;
    margin-left: 150px;
    line-height: 180%
}

.list-area .list-category .list-item dl dt {
    color: #a70b21;
    font-weight: bold;
    float: left
}

.list-area .list-category .list-item dl dt.purple {
    color: #9110a9
}

.list-area .list-category .list-item dl dd strong {
    font-weight: bold
}
.list-area .list-category .list-item dl dd .intro{
    height:42px;
    line-height: 21px;
    overflow: hidden;
}
.list-area .list-category .list-item .toupiao {
    margin-left: 150px
}

.list-area .content {
    padding-left: 200px;
    padding-top: 20px;
    font-size: 14px;
    color: #2b2b2b
}

.list-area .content a:link, .list-area .content a:visited {
    color: #2b2b2b
}

.list-area .content a.btn {
    color: #fff
}

.list-area .details {
    padding-top: 10px
}

.list-area .details .description {
    float: right;
    width: 300px;
    margin-top: 50px;
    font-size: 14px
}

.list-area .details .description dl {
    width: 250px;
    line-height: 180%
}

.list-area .details .description dl dt {
    color: #a70b21;
    font-weight: bold;
    float: left
}

.list-area .details .description dl dt.purple {
    color: #9110a9;
    font-size: 26px;
    line-height: 200%
}

.list-area .details .description dl dd strong {
    font-weight: bold;
    font-size: 26px;
    line-height: 200%
}

.list-area .details .portraits {
    margin-left: 10px;
    padding: 10px;
    width: 640px;
    overflow: hidden
}

.list-area .details .portraits .portrait {
    float: left;
    padding: 10px 5px
}

.list-area .details .portraits .portrait img {
    height: 200px;
    width: 200px
}

.pagin {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 18px
}

.pagin a:link, .pagin a:visited {
    background: #61445a;
    color: #fff;
    padding: 6px 8px;
    border: 1px solid #4a2f3e
}

.pagin a:hover {
    text-decoration: none
}

.pagin span.num {
    color: #61445a
}

.hide {
    display: none;
}

.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul > li > a, .pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a, .pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.pager {
    margin: 20px 0;
    text-align: center;
    list-style: none;
    *zoom: 1;
}

.pager:before, .pager:after {
    display: table;
    line-height: 0;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next > a, .pager .next > span {
    float: right;
}

.pager .previous > a, .pager .previous > span {
    float: left;
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #999999;
    cursor: default;
    background-color: #fff;
}
.redwindow {
    border: 1px solid #B42748;
    margin: auto;
    width: 400px;
    background: #FFFFFF;
    position: absolute;
    top:45%;
    left:40%;
    box-shadow:0px 0px 20px rgba(0,0,0,1);
}

.redwindow .title {
    width: 100%;
    height: 30px;
    background: #d0456d;
    background: -moz-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0456d), color-stop(100%, #b42748));
    background: -webkit-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -o-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -ms-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: linear-gradient(to bottom, #d0456d 0, #b42748 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #d0456d, endColorstr = #b42748);
}

.redwindow .title .text {
    color: #FFFFFF;
    font: 16px "微软雅黑", "黑体";
    padding: 6px 10px;
}

.redwindow .title .close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.redwindow .content {
    border-radius: 5px 5px 5px 5px;
    color: #333;
    font: 14px Verdana, "宋体";
    padding: 15px;
}

.redwindow .footer {
    text-align: center;
}

.redwindow .btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    height: 28px;
    line-height: 28px;
    padding: 0px 8px;
    margin: 10px 10px 0 10px;
    font: 14px "微软雅黑", "黑体";
    background: #d0456d;
    background: -moz-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0456d), color-stop(100%, #b42748));
    background: -webkit-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -o-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: -ms-linear-gradient(top, #d0456d 0, #b42748 100%);
    background: linear-gradient(to bottom, #d0456d 0, #b42748 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #d0456d, endColorstr = #b42748);
}