body {
    padding-top: 60px;
    padding-bottom: 55px;
}
.sideBar .nav{
    width: 220px;
    box-shadow:3px 3px 3px rgba(0,0,0,.03);
}
.subjectComment{
    text-indent: 2em;
    height:100px;
    max-height: 100px;
}