extends ../layouts/adminWithSideBar
block head
    link(href="/css/bootstrapSwitch.css",rel="stylesheet",media="screen")
    link(href="/js/datepicker/css/datepicker.css",rel="stylesheet",media="screen")
    script(src="/js/bootstrap-sniper.js")
    script(src="/js/datepicker/js/bootstrap-datepicker.js")
    script
        $(function(){
            // $('#voteMax').sniper();
            // $('#regMax').sniper();
            $(".dpInpt").datepicker({format:'yyyy-mm-dd'});
        });


block sidebar
    ul.nav.nav-list
        li
            a adf
        li
            a adf
        li
            a adf


block main
    div.page-header
        h2 添加主题
            small     Add Subject
    div#msgDiv.alert.alert-block.alert-error.hide
        strong 表单验证失败！
        span(style='margin-left:5px') &nbsp
    form#dataForm(method='post',action='/subject/do-add')
        fieldset
            legend 基本信息
            input.input-block-level(type='text',id='sub-name',name='sub[name]',placeholder='活动名称')
            textarea.input-block-level(name='sub[comment]',placeholder='活动说明')
        fieldset
            legend 活动设置
            div.row
                .span3
                    div.b-switch(data-on-label='首页可见',data-off-label='首页不可见',style='min-width:220px')
                        input(name='sub[isPrivate]',type='checkbox',checked='true',value='1')
                .span3
                    div.b-switch(data-on-label='开放报名',data-off-label='不开放报名',style='min-width:220px')
                        input(name='sub[canReg]',type='checkbox',checked='true',value='1')
                .span3
                    div.b-switch(data-on-label='使用令牌',data-off-label='禁用令牌',style='min-width:220px')
                        input(name='sub[token]',type='checkbox',value='1')
            div.row &nbsp;
            div.row
                div.span4
                    div.well
                        h5 投票设置
                        p 每个人在这次活动中能投多少票
                        input#voteMax(type='text',name='sub[voteChance]',value="1")
                        p 投票的窗口期：
                        div.input-append
                            input.dpInpt.input-block-level(name='sub[voteStart]',type="text")
                            span.add-on
                                i.icon-th
                        div.input-append
                            input.dpInpt.input-block-level(name='sub[voteEnd]',type="text")
                            span.add-on
                                i.icon-th
                div.span4.fl-right
                    div.well
                        h5 报名设置
                        p 每个人在这次活动中能报名几次
                        input#regMax(type='text',name='sub[regChance]',value='1')
                        p 报名的窗口期：
                        div.input-append
                            input.dpInpt.input-block-level(name='sub[regStart]',type="text")
                            span.add-on
                                i.icon-th
                        div.input-append
                            input.dpInpt.input-block-level(name='sub[regEnd]',type="text")
                            span.add-on
                                i.icon-th
        fieldset
            legend 页面设置
            h5 选项展示方式
            label.radio
                input(type='radio',value='1',name='sub[showType]',checked='true')
                span 简单文本展示——适用于一般的简单意见调查
            label.radio
                input(type='radio',value='2',name='sub[showType]')
                span 文本加缩略图展示——比简单文本展示方式稍微丰富一点的方式
            label.radio
                input(type='radio',value='3',name='sub[showType]')
                span 文本、缩略图加详情页——用于复杂的调研活动，各个选项有专门的详情页介绍详细信息
        br
        br
        br
        hr
        div.row
            div.span8
                div.div-center
                    a(href='javascript:;',onclick='sbmt()').btn.btn-large.btn-primary  提交新主题



block footer
    script(src="/js/bootstrapSwitch.js")
    script
        function sbmt() {
            if(!$.trim($('#sub-name').val())) {
                return showMsg('主题名称不能为空');
            }
           $('#dataForm').submit();
        }


        function showMsg(msg) {
            $('#msgDiv').show().find('span').html(msg);
        }
