//
    列表页
    User: laichendong
    Date: 13-5-3
    Time: 下午4:
extends ../layouts/default
block content
    .w
        .list-area
            .list-area-title
                table
                    tr
                        td
                            h2
                                a(href="") 北京赛区
            -for(var j=0; j<3; j++)

                .list-category
                    h3 大师级程序员
                    -for(var i=0; i<10; i++)
                        .list-item
                            .portrait
                                img(src="", alt="达人的姓名")
                            dl
                                dt 姓名：
                                dd 赖晨东
                                dt 部门：
                                dd 研发部
                                dt 介绍：
                                dd IT人士的终极称号战斗在一线的代码工作者。
                                dt.purple 票数
                                dd.purple
                                    strong 1423
                            .toupiao
                                a(href="").btn.btn-r1 投票

