.filebox_container {
    border: 2px dashed #CCCCCC;
    background: #ffffff;
    padding: 5px;
    text-align: center;
    position: relative;
}

.filebox_img {
    top: 5px;
    left: 5px;
    position: absolute;
    background: #ffffff;
    opacity: 1;
    margin: 0 auto;
    display: none;
}

.filebox_img .wrapper{
    position: relative;
    margin: 0 auto;
}

.filebox_div_img {
    margin: 0 auto;
    background: url("../img/pic.png") no-repeat center center;
}
.filebox_div_video {
    margin: 0 auto;
    background: url("../img/video.png") no-repeat center center;
}

.filebox_div_head {
    margin: 0 auto;
    background: url("../img/upload_placeholder.png") no-repeat center center;
}

.filebox_div_music {
    margin: 0 auto;
    background: url("../img/mp3.png") no-repeat center center;
}

.filebox_liv {
    display: none;
    top: 5px;
    left: 5px;
    position: absolute;
    background: #ffffff;
    opacity: 1;
}

.filebox_liv .bgd{
    margin: 0 auto;
    background: url('../img/uploading.gif') no-repeat center center transparent;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}


.filebox_img .img {
    margin: 0 auto;
}

.cancel_btn {
    background: #720000;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
}

.cancel_btn a {
    margin: 0 auto;
    font-weight: bolder;
    color: #ffffff;
}

