//
    User: laichendong
    Date: 13-4-28
    Time: 下午3:28
extends layouts/bootstrap

block content
    div.container
        h1 500
        p Oops something went wrong
        pre
            code!=error
