//
    User: laichendong
    Date: 13-4-28
    Time: 下午3:28
extends layouts/bootstrap

block content
    div.container
        .page-header
            h1 500
                small 出错了
        .alert.alert-block
            p 抱歉，系统貌似开小差了。
        if error
            pre
                p=error

