//
    登陆页面
    User: laichendong
    Date: 13-4-23
    Time: 上午11:31
extends layouts/default
block content
    div.container
        form.form-signin(method="post", action="/doLogin")
            h2.form-signin-heading 登录
            input.input-block-level(type="text",placeholder="ERP账号",name="userName")
            input.input-block-level(type="password",placeholder="密码",name="password")
            input(type="hidden", name="target", value=target)
            button.btn.btn-large.btn-primary(type="submit") 登录