div#upload
	div.dtitle 姓名
	input(type="text",name="username",id="username")

	div.dtitle 所在区
	select(name="scope",id="scope")
		option(value="北京")
		option(value="成都")
		option(value="沈阳")
		option(value="南京")
	div.dtitle 部门
	input(type="text",id="department",name="department")


	div.dtitle 头像
	input(type="file",name="up_avatar",id="up_avatar")
	input(id="btnupload_avatar",type="button",value="upload")
	img(id="viewimg_avatar",src="",style="display:none")
	input(id="imgname_avatar",name="imgname_avatar",type="hidden",value="")
	
	form(id="cutavatar",style="display:none")
		input(type="hidden",id="x",name="x")
		input(type="hidden",id="y",name="y")
		input(type="hidden",id="w",name="w")
		input(type="hidden",id="h",name="h")
		input(type="button",value="cut",onclick="initCrop();")
		input(type="button",id="btncutavatar",value="confirm",onclick="checkCoords();")
	input(type="hidden",name="avatar")	

	div.dtitle 简介
	textarea(id="introduce",name="introduce")

	div.dtitle 文字展示
	textarea(id="witOfText",name="witOfText")

	div.dtitle 图片展示
	input(type="file",name="up_talentimg",id="up_talentimg")
	input(id="btnupload_talentimg",type="button",value="confirm")
	input(type="hidden",name="witOfImg")
	div#viewimg_talent
	
	div.dtitle 音频展示
	input(type="file",name="up_music",id="up_music")
	input(id="btnupload_music",type="button",value="confirm")
	input(type="hidden",name="witOfAudio")
	div#view_music

	div.dtitle 视频展示
	input(type="file",name="up_vedio",id="up_vedio")
	input(id="btnupload_vedio",type="button",value="confirm")
	input(type="hidden",name="witOfVideo")
	div#view_vedio

	input(type="button",name="btnupload_all",id="btnupload_all")
script(src="/js/jquery.js", type="text/javascript")
script(src="/js/file_uploader.js", type="text/javascript")
script(src="/js/crop.js", type="text/javascript")
script(src="/js/lightbox_me.js", type="text/javascript")
script(src="/js/my_for_uploaddata.js", type="text/javascript")
