//
    bootstrap 的layout文件  用于使用bootstrap布局的页面，比如login或404等等
    User: laichendong
    Date: 13-5-3
    Time: 上午10:41
!!! 5
html
    head
        title=title
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(href="/css/bootstrap.min.css",rel="stylesheet",media="screen")
        link(href="/css/style.css",rel="stylesheet",media="screen")
    body
        block content

        script(src="http://code.jquery.com/jquery.js")
        script(src="/js/bootstrap.min.js")


