//
    默认的layout  主要用于前台页面
    User: laichendong
    Date: 13-4-23
    Time: 下午1:43
!!! 5
html
    head
        title=title
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(href="/css/show.css",rel="stylesheet",media="screen")
    body
        .w
            .roles
                h3 活动规则及公告
                p 很荣幸的通知各位，我们即将组建无数信息部的明星大联盟，您是否因为
                p 在我们身边，又有着无数才华横溢的京东人。您是s否因为自己的才能无人认同而苦恼？您是否因为自己的才华无处施展而困惑。
                    span.more
                        a(href="")
                a.btn.btn-r2.login(href="/login") 立即登录
        block content

        script(src="http://code.jquery.com/jquery.js")
